.btn{
    -fx-background-color: #2196F3;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.btn:hover{
    -fx-cursor: hand;
    -fx-background-color: #64B5F6;
}